S Muhammed cse047

In [ ]:
#1.write the output of the following
#k=['a','b','c','d']
#print(k[-1:-7:-1])

In [ ]:
k=['a','b','c','d']
print(k[-1:-7:-1])

['d', 'c', 'b', 'a']

In [ ]:
#2.reverse a list using Python
#list1=['100','200','300','400','500']

In [ ]:
list1=['100','200','300','400','500']
list1.reverse()
print(list1)

['500', '400', '300', '200', '100']

In [ ]:
#4. write a python program to find the square of 5

In [ ]:
n=5
x=n**2
print(x)

25

In [ ]:
#5.write a python program to find the sum of all items in a dictionary
#Input:{'a':100,'b':200,'c':300}

In [ ]:
d = {
 'a': 100,
 'b': 200,
 'c': 300
}
print(sum(d.values()))

600

In [ ]:
#7.write a program to construct the following pattern,using a nested for loop
#*
#**
#***
#****
#*****
#****
#***
#**
#*

In [ ]:
n=int(input('Enter the number of rows='))
for i in range(0,n):
 for j in range(0,i):
   print('*',end=' ')
 print()
for i in range(n,0,-1):
 for j in range(i):
   print('*',end=' ')
 print('')

Enter the number of rows=5

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
#8. write a Python function to calculate the factorial of a number (a non negative integer).The function accepts the number
#as an argument
#sample input:3,sample output:6

In [ ]:
def mthd2(n):
   f=1
   for i in range(1,n+1):
       f=f*i
   print('Answer =',f)
x=int(input('Enter a value='))
mthd2(x)

Enter a value=3
Answer = 6

In [ ]:
#9.Display all duplicate items from a list given:
#10,20,60,30,20,40,30,60,70,80

In [ ]:
l=[10,20,60,30,20,40,30,60,70,80]
l1=[]
for i in l:
    if i not in l1:
        l1.append(i)
    else:
     print(i,end=' ')

20 30 60

In [ ]:
#12. Modify the element of a nested list inside the following list:
#Sample input : list1 = [5, [10, 15, [20, 25, [30, 35], 40], 45], 50]
#Change the element 35 to 3500

In [ ]:
list_1 =[5, [10, 15, [20, 25, [30, 35], 40], 45], 50]
list_1[1][2][2][1]=3500
print(list_1)

[5, [10, 15, [20, 25, [30, 3500], 40], 45], 50]

In [ ]:
#11. Write a python program to print the numbers from a given number n till 0 using recursion

In [ ]:
def print_numbers(n):
  if n == 0:
   print(n)
   return
  print(n)
  print_numbers(n - 1)
num=10
print_numbers(num)

10
9
8
7
6
5
4
3
2
1
0